@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-prd7y7');
	src:url('../fonts/icomoon.eot?#iefix-prd7y7') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-prd7y7') format('truetype'),
		url('../fonts/icomoon.woff?-prd7y7') format('woff'),
		url('../fonts/icomoon.svg?-prd7y7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-home2:before {
	content: "\e601";
}
.icon-home3:before {
	content: "\e602";
}
.icon-search:before {
	content: "\e603";
}
.icon-cog:before {
	content: "\e604";
}
.icon-stats-dots:before {
	content: "\e605";
}
.icon-stats-bars:before {
	content: "\e606";
}
.icon-stats-bars2:before {
	content: "\e607";
}
.icon-cross:before {
	content: "\e608";
}
.icon-checkmark:before {
	content: "\e609";
}
.icon-enter:before {
	content: "\e60a";
}
.icon-chevron-down:before {
	content: "\e621";
}
.icon-chevron-left:before {
	content: "\e622";
}
.icon-chevron-right:before {
	content: "\e623";
}
.icon-chevron-small-down:before {
	content: "\e624";
}
.icon-chevron-thin-up:before {
	content: "\e62b";
}
.icon-chevron-up:before {
	content: "\e62c";
}
.icon-chevron-with-circle-left:before {
	content: "\e62e";
}
.icon-chevron-with-circle-right:before {
	content: "\e62f";
}
.icon-area-graph:before {
	content: "\e665";
}
.icon-bar-graph:before {
	content: "\e66a";
}
.icon-check:before {
	content: "\e67d";
}
.icon-circle-with-cross:before {
	content: "\e67e";
}
.icon-cw:before {
	content: "\e68f";
}
.icon-lock-open:before {
	content: "\e6d3";
}
.icon-lock:before {
	content: "\e6d4";
}
.icon-log-out:before {
	content: "\e6d5";
}
.icon-login:before {
	content: "\e6d6";
}
.icon-magnifying-glass:before {
	content: "\e6d9";
}
.icon-menu:before {
	content: "\e6e0";
}