<!DOCTYPE html>
<html>
<head>
	<title>
	ALERT!!!
	</title>
</head>
<body>
	<div style="text-align: center;">
		<h1 style="color: red;">ALERT: Values exceed to limit value of pollution</h1> 
		{% for p in pollutionList %}
        	<p>- Sensor ID {{ p.sensor.id }} ({{ p.sensor.latitude }}, {{ p.sensor.longitude }}) with value equals to {{ p.value }}<p>
     	{% endfor %}
	</div> 
</body>
</html>