{% load static %}
<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <style>
      #days {
        display: none;
      }
      rect.bordered {
        stroke: #E6E6E6;
        stroke-width:2px;   
      }

      text {
        font-size: 9pt;
        font-family: Consolas, courier;
        color: #aaa;
      }

    </style>
    <script src="{% static 'graphs/d3/4.3/d3.min.js' %}" type="text/javascript"></script>
  </head>
  <body>
    <div id="chart"></div>
    <div id="days">
      {% for d in days_month %}
        <input id="a_day" type="text" value='{{ d }}' hidden></input><br/>
      {% endfor %}
    </div>
    <script type="text/javascript">
      var margin = { top: 0, right: 70, bottom: 20, left: 0 },
          width = 980 - margin.left - margin.right,
          height = 1200 - margin.top - margin.bottom,
          gridSize = Math.floor(width / 24),
          legendElementWidth = gridSize*2,
          buckets = 7,
          colors = ["#ffffd9","#79bc6a","#bbcf4c","#eec20b","#FF6347","#8B0000"]; // , "#5A0014"



      var data = document.getElementById('days').getElementsByTagName('input');
      var days = [];
      for(i=0; i<30; i=i+1){ 
        days.push(data[i].value);
      }

      var times = [];    
      for(i=0; i<24; i=i+1){
        times.push(i.toString()+'h');
      }

      var svg = d3.select("#chart").append("svg")
          .attr("width", width + margin.left + margin.right + 40)
          .attr("height", height + margin.top + margin.bottom + gridSize)
          .append("g")
          .attr("transform", "translate(" + (margin.left+120) + "," + margin.top + ")");

      var dayLabels = svg.selectAll(".dayLabel")
          .data(days)
          .enter().append("text")
            .text(function (d) { return d; })
            .attr("x", 0)
            .attr("y", function (d, i) { return i * gridSize; })
            .style("text-anchor", "end")
            .attr("transform", "translate(-10," + gridSize / 1.5 + ")");

      var timeLabels = svg.selectAll(".timeLabel")
          .data(times)
          .enter().append("text")
            .text(function(d) { return d; })
            .attr("x", function(d, i) { return i * gridSize; })
            .attr("y", 0)
            .style("text-anchor", "middle")
            .attr("transform", "translate(" + gridSize / 2 + ", -6)");

      var heatmapChart = function() {
        d3.tsv("{% static 'tsv/graph-month.tsv' %}",
        function(d) {
          return {
            day: +d.day,
            hour: +d.hour,
            value: +d.value
          };
        },
        function(error, data) {
          var colorScale = d3.scaleQuantize()
            .domain([-25, 125])
            .range(colors);

          var cards = svg.selectAll(".hour")
            .data(data, function(d) {return d.day+':'+d.hour;});

          cards.enter().append("rect")
            .attr("x", function(d) { return (d.hour) * gridSize; })
            .attr("y", function(d) { return (d.day - 1) * gridSize; })
            .attr("rx", 4)
            .attr("ry", 4)
            .attr("class", "hour bordered")
            .attr("width", gridSize)
            .attr("height", gridSize)
            .attr("value", function(d) { return d; })
            .style("fill", function(d) { return colorScale(d.value); });

          cards.enter().append("text").text(function(d) { if(d.value > -1){return d.value; }})
            .attr("x", function(d) { return (d.hour) * gridSize + gridSize/4; })
            .attr("y", function(d) { return (d.day - 1) * gridSize + gridSize/2; })
            .attr("class", "mono");

          var legend = svg.selectAll(".legend")
            .data([0, 25, 50, 75, 100], function (d) { return d; });

          legend.enter().append("rect")
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", height)
            .attr("class", "legend")
            .attr("width", legendElementWidth)
            .attr("height", gridSize / 2)
            .style("fill", function(d, i) { return colors[i+1]; });

          legend.enter().append("text").text(function(d) { return "≥" + Math.round(d); })
              .attr("x", function(d, i) { return legendElementWidth * i; })
              .attr("y", height + gridSize)
              .attr("class", "mono");
        });  
      };

      heatmapChart();

      menu_height();

    </script>
  </body>
</html>