{% load static %}
<!DOCTYPE html>
<htlm>
  <head>
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="{% static 'graphs/css/week/graphs.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'graphs/css/week/legend.css' %}" type="text/css">

    <script src="{% static 'graphs/d3/4.3/d3.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'graphs/js/week/graphs.js' %}" type="text/javascript"></script>
    <script src="{% static 'graphs/js/week/legend.js' %}" type="text/javascript"></script>
    <script src="{% static 'graphs/js/week/only-sensor.js' %}" type="text/javascript"></script>
  </head>
  <body>
    <div class="selectSensor">
      <input class="checkAll" type="checkbox" name="allSensor" value="All"> All sensor</input><br>
      <div class="legend"></div>
    </div>
    <div class="graphsDiv">
      {% for day in days %}
        <div class="cycle">{% cycle '0' '1' '2' '3' '4' '5' '6' as graphs %}</div>
        <div class="each_graph-{{ graphs }}" id="each_graph">
          <p class="graph_title">POLLUTION ({{ day|date:"l d-F-Y " }})</p>
          <svg class="graphweek-{{ graphs }}" width="530" height="300"></svg>
        </div>
      {% endfor %}
    </div>
    <script type="text/javascript">
      var tsv = [];
      var numDay;
    </script>
    {% for day in days %}
      <div class="cycle">{% cycle '0' '1' '2' '3' '4' '5' '6' as svg %}</div>
      <script type="text/javascript"> 
        numDay = "{{ svg }}";
        tsv.push("{% static 'tsv/graph-week"+numDay+".tsv' %}");
        create_graph_week(numDay); 
      </script>
    {% endfor %}
  </body>
</htlm>