{% extends 'map-sensors.html' %}
{% load static %}

{% block script-add %}
	<script src="{% static 'app/js/pollution/map-sensors-pie.js' %}" type="text/javascript"></script>
	<script src="{% static 'app/js/map-sensors.js' %}" type="text/javascript"></script>
{% endblock %} 

{% block map %}
	<div id="map" class="map"></div>
{% endblock %} 