{% load static %}
<!DOCTYPE html>
<htlm>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'app/css/month.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'ol3/css/ol.css' %}" type="text/css">
    <script src="{% static 'ol3/build/ol.js' %}" type="text/javascript"></script>
    <script src="{% static 'jquery/js/jquery-3.0.0.js' %}" type="text/javascript"></script>
    <script src="{% static 'app/js/pollution/map-sensors-month.js' %}" type="text/javascript"></script>
    <script src="{% static 'app/js/map-sensors-create.js' %}" type="text/javascript"></script>
    <script src="{% static 'app/js/map-sensors.js' %}" type="text/javascript"></script>
  </head>
  <body>
    <div id="sensors_container">
        <div class="selectSensor">
          {% csrf_token %}
          <label for="selectSensor">Sensors:</label>
          <select name="selectSensor" id="selectSensor" required>
            <option value="">---Please select---</option>
            {% for sens in sensors %}
              <option value="{{ sens.id_s }}"> {{ sens.name }} (Sensor {{ sens.id_s }})</option>
            {% endfor %}
          </select><br/>
        </div>
        <div id="map"></div>
    </div>
    <div class="graph"></div>
    <div id="sensorData" class="sensorData">
      {% for se in sensors %}
        <input class="id" id="{{ se.id_s }}" type="text" value="{{ se.id_s }}" hidden></input><br/>
        <input class="lon" id="{{ se.id_s }}" type="text" value="{{ se.longitude }}" hidden></input><br/>
        <input class="lat" id="{{ se.id_s }}" type="text" value="{{ se.latitude }}" hidden></input><br/>
        <input class="val" id="{{ se.id_s}}" type="text" value="{{ se.sensorType }}" hidden></input><br/>
        <input class="name" id="{{ se.id_s }}" type="text" value="{{ se.name }}" hidden></input><br/>
        <input class="desc" id="{{ se.id_s }}" type="text" value="{{ se.description }}" hidden></input><br/>
        <input class="alert" id="{{ se.id_s }}" type="text" value="{{ se.alert }}" hidden></input><br/>
      {% endfor %}
    </div>
  </body>
</htlm>