{% load static %}
<!DOCTYPE HTML> 
<html>
  <head>
  	<link rel="stylesheet" href="{% static 'app/css/legendMap.css' %}" type="text/css">
  </head>
  <body>
	<span class="legendNO2"><div class="colorLegend"></div><div class="nameLegend">NO2</div></span>
	<span class="legendSO2" ><div class="colorLegend"></div><div class="nameLegend">SO2</div></span>
	<span class="legendCO2"><div class="colorLegend"></div><div class="nameLegend">CO2</div></span>
	<span class="legendO3"><div class="colorLegend"></div><div class="nameLegend">O3</div></span>
	<span class="legendPM25"><div class="colorLegend"></div><div class="nameLegend">PM2.5</div></span>
	<span class="legendPM10"><div class="colorLegend"></div><div class="nameLegend">PM10</div></span>
  </body>
</html>