{% extends 'map-sensors.html' %}
{% load static %}

{% block script-add %}
  <link rel="stylesheet" href="{% static 'app/css/map.css' %}" type="text/css">
  <script src="{% static 'app/js/sensor/map-sensors-add.js' %}" type="text/javascript"></script>
  <script src="{% static 'app/js/sensor/map-sensors-modify.js' %}" type="text/javascript"></script>
  <script src="{% static 'app/js/map-sensors2.js' %}" type="text/javascript"></script>
{% endblock %} 

{% block map %}
  <div id="mapold" class="mapold"></div>
  <div id="mapnew" class="mapnew"></div>
{% endblock %} 