{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Sensors management</title>
	<link rel="stylesheet" href="{% static 'app/css/sensorMenu.css' %}" type="text/css">
	<script src="{% static 'jquery/js/jquery-latest.js' %}" type="text/javascript"></script>
	<script src="{% static 'app/js/sensor/management-sensors.js' %}" type="text/javascript"></script>
	<script src="{% static 'app/js/sensor/management-menu.js' %}" type="text/javascript"></script>
	<script src="{% static 'ajax/djangoAjax.js' %}" type="text/javascript"></script>
</head>
<body>
	<ul>
		<li><a href="{% url 'pollution_menu' %}">Menu</a></li>
		<li><a id="add">Add</a></li>
	  	<li><a id="modify">Modify</a></li>
	  	<li><a id="remove">Remove</a></li>
	</ul>
	<div id="selector"></div>
</body>
</html>