{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Management of sensors</title>
	<link rel="stylesheet" href="{% static 'app/css/add-removeSensor.css' %}" type="text/css">
	<script src="{% static 'jquery/js/jquery-latest.js' %}" type="text/javascript"></script>
	<script src="{% static 'app/js/sensors.js' %}" type="text/javascript"></script>
</head>
<body>	
	<div class="container">
		<h1>Remove sensors</h1>
		<hr />
		<div class="formRemove">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<label for="selectSensor">Sensors:</label>
				 <select name="selectSensor" id="selectSensor" onchange="sensorSelected()" required>
     				 <option value="">---Please select---</option>
     				 {% for sens in sensors %}
     				 	<option value="{{ sens }}/{{ sens.sensorType }}/{{ sens.latitude }}/{{ sens.longitude }}/{{ sens.description }}"> {{ sens.id }} (type: {{ sens.sensorType}} / coord: {{ sens.longitude}}, {{ sens.latitude }})</option>
     				 {% endfor %}
     			</select><br/>
     			<label for="id">ID:</label><br/>
				<input type="number" value="" name="id" id="id" size="50"  readonly></input><br/>
     			<label for="type">Type:</label><br/>
				<input type="number" value="" name="type" id="type" size="50"  readonly></input><br/>
				<label for="lat">Latitude:</label><br/>
				<input type="number" name="lat" id="lat" size="50"  readonly></input><br/>
				<label for="lon">Longitude:</label><br/>
				<input type="number" name="lon" id="lon" size="50"  readonly></input><br/>
				
				<input id="button" type="submit" value="Remove"></input>
			</form>
		</div> 
		<div id="msg"></div>
	</div>
	{% if state%}
		<script>
			msg("removed");</script>
	{% endif %}

</body>
</html>