{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Management of sensors</title>
	<link rel="stylesheet" href="{% static 'app/css/add-removeSensor.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'app/css/legendMap.css' %}" type="text/css">
	<script src="{% static 'jquery/js/jquery-latest.js' %}" type="text/javascript"></script>
	<script src="{% static 'app/js/sensor/management-sensors-changes.js' %}" type="text/javascript"></script>
</head>
<body>	
	<div class="container">
		<h1>Remove sensors</h1>
		<hr />
		<div class="formRemove">
			<form method="POST" id="form" enctype="multipart/form-data">
				{% csrf_token %}
				<label for="selectSensor">Sensors:</label>
				 <select name="selectSensor" id="selectSensor" required>
     				 <option value="">---Please select---</option>
     				 {% for sens in sensors %}
     				 	<option value="{{ sens.id_s }}"> {{ sens.name }} (Sensor {{ sens.id_s }})</option>
     				 {% endfor %}
     			</select><br/><br/><br/>
     			<label for="id">ID:</label><br/>
				<input class="inputs" type="number" value="" name="id" id="id" readonly></input><br/>
     			<label for="type">Type:</label><br/>
				<input class="inputs" type="text" value="" name="type" id="type" readonly></input><br/>
				<label for="name">Name:</label><br/>
				<input class="inputs" type="text" name="name" id="name" readonly></input><br/>
				<label for="alert">Alert value:</label><br/>
				<input class="inputs" type="number" name="alert" id="alert" readonly></input><br/>
				<label for="lat">Latitude:</label><br/>
				<input class="inputs" type="number" name="lat" id="lat" readonly></input><br/>
				<label for="lon">Longitude:</label><br/>
				<input class="inputs" type="number" name="lon" id="lon" readonly></input><br/>
				<label for="desc">Description:</label><br/>
				<textarea type="text" name="desc" id="desc" rows="5" cols="32" readonly></textarea><br/><br/><br/>

				<input id="buttonRemove" type="button" value="Remove"></input>
			</form>
		</div> 
		<div id="msg"></div>
		<div id="mapsensors"></div>
		<div id="legendMap" class="legendMap"></div>
	</div>
	{% if state%}
		<script>
			msg("Sensor has been successfully removed!");
			create_mapsensors_remove();
		</script>
	{% endif %}

</body>
</html>