.legendMap {
	padding: 20px;
	padding-left: 40px;
}

span {
	position: relative;
	float:left;
	margin-left: 10px;
	margin-right: 10px;
	width: 100px;
}

.nameLegend {
	position: relative;
	float:left;
	text-align: left;
	padding-left: 10px;
}

.colorLegend {
	position: relative;
	float:left;
	height: 20px;
	width: 20px;
}

.legendNO2 .colorLegend {
	background-color: rgba(200,50,255,0.6); /* #C832FF */
}
.legendSO2 .colorLegend {
	background-color: rgba(206,209,25,0.6); /* #ced119 */
}
.legendCO2 .colorLegend {
	background-color: rgba(94,123,27,0.6); /* #5e7b1b */
}
.legendO3 .colorLegend {
	background-color: rgba(17,122,101,0.6); /* #117a65 */
}
.legendPM25 .colorLegend {
	background-color: rgba(209,83,25,0.6); /* #d15319 */
}
.legendPM10 .colorLegend {
	background-color: rgba(94,48,26,0.6); /* #5e301a */
}